<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="sign-up-container">
      <form action="/login" method="post" class="auth-form">
        
        <div class="auth-form-inputs">
          <span class='auth-form-title'>Login</span>
          <input
            type="text"
            placeholder="username"
            value="<%= locals.formData?.username || '' %>"
            name="username"
            aria-label="username"
            required
            class='<%= locals.fieldErrors?.username ? 'input-error' : '' %>'
          />
          <% if (locals.fieldErrors?.username) {%>
            <span class='error-msg'><%= fieldErrors.username %></span>
          <% } %>
          <input
            type="password"
            placeholder="password"
            value="<%= locals.formData?.password || '' %>"
            name="password"
            aria-label="password"
            required
            class='<%= locals.fieldErrors?.password ? 'input-error' : '' %>'
          />
          <% if (locals.fieldErrors?.password) {%>
            <span class='error-msg'><%= fieldErrors.password %></span>
          <% } %>
          <a href='/sign-up' class='login-sign-up-redirect'>Need an account? Sign Up!</a>
        </div>
        <button class="btn auth-btn" type='submit'>Login</button>
      </form>
    </div>
  </body>
</html>
