<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('components/navbar') %>
    <div class="sign-up-container">
      <form action="/sign-up" method="post" class="auth-form">
        <div class="auth-form-inputs">
          <span class='auth-form-title'>Sign Up</span>
          <input
            type="text"
            placeholder="username"
            value="<%= locals.formData?.username || '' %>"
            name="username"
            aria-label="username"
            required
            class='<%= locals.fieldErrors?.username ? 'input-error' : '' %>'
          />
          <% if (locals.fieldErrors?.username) {%>
            <span class='error-msg'><%= fieldErrors.username %></span>
          <% } %>
          <input
            type="password"
            placeholder="password"
            value="<%= locals.formData?.password || '' %>"
            name="password"
            aria-label="password"
            required
            class='<%= locals.fieldErrors?.password ? 'input-error' : '' %>'
          />
          <% if (locals.fieldErrors?.password) {%>
            <span class='error-msg'><%= fieldErrors.password %></span>
          <% } %>
          <input
            type="text"
            placeholder="access code"
            value="<%= locals.formData?.accessCode || '' %>"
            name="accessCode"
            aria-label="access code"
            required
            class='<%= locals.fieldErrors?.accessCode ? 'input-error' : '' %>'
          />
          <% if (locals.fieldErrors?.accessCode) {%>
            <span class='error-msg'><%= fieldErrors.accessCode %></span>
          <% } %>
        </div>
        <button class="btn auth-btn">Sign Up</button>
      </form>
      <div>
        <ol class="directions font-text">
          <li>Figure out the access code</li>
          <li>Sign up for an account</li>
          <li>Reveal usernames</li>
          <li>Leave a message for others</li>
        </ol>
      </div>
    </div>
  </body>
</html>
